{% extends "base.html" %}
{% block title %}Cospend Invoice Generator{% endblock %}

{% block body %}
  {% set member = members[id] %}
  <div class="container-fluid">
  <h1>Invoice for {{ member.name }}</h1>
  <div class="row">
    <div class="col-md-6">
      {% if balance < 0 %}
        <strong>Total Balance: <span class="balance-negative">-${{ -balance }}</span></strong>
      {% else %}
        <strong>Total Balance: <span class="balance">${{ balance }}</span></strong>
      {% endif %}
      <br>
      <a href="{{ url_for('download_csv', idx=id) }}">
        <svg id="i-download" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M9 22 C0 23 1 12 9 13 6 2 23 2 22 10 32 7 32 23 23 22 M11 26 L16 30 21 26 M16 16 L16 30" />
        </svg>
        CSV
      </a>
    </div>
    <div class="col-md-6">
      {% if request.values.start %}
        <strong>From:</strong> {{ request.values.start }}
        <br>
      {% endif %}
      {% if request.values.end %}
        <strong>To:</strong> {{ request.values.end }}
      {% endif %}
    </div>
  </div>

  {% for title, table in (('Debts', debts), ('Credits', credits)) %}
    {% if table is not none %}
    <h2>{{ title }}</h2>

    <table class="table table-striped">
      <thead>
        <td>Date</td>
        <td>Category</td>
        <td>What</td>
        <td>Who</td>
        <td>Amount</td>
      </thead>
      {% for row in table %}
      <tr>
        <td>{{ row.date }}</td>
        <td><span class="">{{ row.category.name }}</span></td>
        <td>{{ row.what|safe }}</td>
        <td>{{ row.who}}</td>
        {% if row.amount < 0 %}
          <td class="amount payment">-${{ -row.amount }}</td>
        {% else %}
          <td class="amount">${{ row.amount }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endfor %}
  </div>
{% endblock %}
